<ion-header>
  <ion-toolbar>
     <img slot="start" src="../assets/arrow-left.svg" />
     <ul slot="end">
        <li><img src="../assets/plus-square.svg" /></li>
        <li><img src="../assets/user.svg" /></li>
        <li><img src="../assets/shopping-bag.svg" /></li>
     </ul>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="search-field">
     <div class="input-container">
        <ion-input value="Harry Potter">
        </ion-input>
        <img slot="end" src="../assets/search.svg" />
     </div>
  </div>
  <div class="search-results">
     <div class="search-result" *ngFor="let book of books">
        <div class="info-search-result">
           <div class="cover" style="background-image: url('../assets/{{book.cover}}');"></div>
           <div class="right-content-search-result">
              <div class="search-result-title">
                 <h2>{{book.title}}</h2>
                 <span>{{book.author}}</span>
              </div>
              <div class="search-result-details">
                 <div class="resume">
                    {{book.resume.slice(0,82)+"..."}}
                 </div>
                 <div class="price">
                    <div class="price-label">A partir de</div>
                    <div class="price-value">R${{book.price.toString().replace('.',',')}}</div>
                 </div>
              </div>
           </div>
        </div>
        <div class="see-more-search-result-container">
           <span class="see-more-search-result-card">Ver mais sobre</span>
        </div>
     </div>
  </div>
</ion-content>