/*Por alguma razão, não estava conseguindo importar
mais de uma fonte com o mesmo link.
*/

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
	margin: 0;
	padding: 0;
}

ion-toolbar {
	--background: var(--secondary-color);
	--min-height: 56px;
	--padding-end: 16px;
	--padding-start: 16px;
}

ion-toolbar div,
ion-toolbar div img {
	height: 24px;
}

ion-toolbar ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

ion-toolbar ul li {
	display: inline-block;
	margin-left: 16px;
	height: 24px;
	width: 24px;
}

ion-toolbar ul li img {
	height: 24px;
}

ion-content {
	--background: var(--secondary-color);
}

.input-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 6vh;
	padding: 5px;
	border-radius: 10px;
	background-color: #ffffff;
}

.input-container img {
	width: 6%;
}

ion-input {
	width: 70%;
	height: 6vh;
	border-radius: 10px;
	background-color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2.3vh;
}

.search-field {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
}

.search-results {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 2vh;
}

.search-result {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 29vh;
	width: 95%;
	border-bottom: solid 1px #000000;
	margin-bottom: 2vh;
}

.info-search-result {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
    height: 85%;
    width: 100%;
}

.see-more-search-result-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;
	width: 100%;
}

.see-more-search-result-card {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-family: 'Poppins', sans-serif;
	font-size: 2vh;
	text-transform: uppercase;
	padding-left: 2vw;
	padding-right: 2vw;
	border-radius: 20px;
}

.cover {
	width: 15vh;
    height: 23vh;
    margin-right: 2vw;
	border-radius: 10px;
	background-color: aqua;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.right-content-search-result {
	width: 71%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.search-result-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.search-result-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.search-result-title h2 {
	font-size: 2.7vh;
	font-family: 'Zilla Slab', serif;
	font-weight: 600;
}

.search-result-title span {
	font-size: 2vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #818080;
}

.resume {
	height: 100%;
	width: 70%;
	font-family: 'Poppins', sans-serif;
	font-size: 2.2vh;
	line-height: 3.2vh;
	font-weight: 400;
}

.price {
	height: 100%;
	width: 28%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-family: 'Poppins', sans-serif;
}

.price-label {
	font-size: 2vh;
	line-height: 2vh;
	font-weight: 400;
}

.price-value {
	font-size: 2.6vh;
	line-height: 2.6vh;
	font-weight: 700;
}